<template>
  <div class="all-user-page">
    <Header />
    <div class="us">
      <div class="about">
        <h1>About Us</h1>
        <h5>Home - <b>Page</b></h5>
      </div>
      <br />
      <div class="app">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="img1">
                <img
                  src="@/assets/skincare.jpg"
                  style="width: 35rem; height: 23rem; margin-bottom: 5rem"
                />
              </div>
            </div>
            <div class="col">
              <h2>Welcome to Hara</h2>
              <span style="color: cadetblue; font-size: 2rem">
                <center>~~~~</center>
              </span>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore neque
                praesentium ab commodi! Expedita officiis rerum necessitatibus vitae
                commodi vero modi nesciunt aspernatur distinctio nostrum consectetur
                <b
                  ><br /><br />
                  "iusto minus, reiciendis adipisci. Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Sequi quam sit ducimus quo quidem atque
                  quis soluta totam? Assumenda adipisci deserunt voluptatibus esse sint ea
                  culpa nostrum officia, dolores inventore!. Lorem ipsum dolor sit, amet
                  consectetur adipisicing elit."</b
                >
              </p>
              <br />
              <img src="@/assets/ttd.png" style="width: 100px; hieght: 100px" />
              <p><b>James</b><br />James Bank -CEO</p>
            </div>
          </div>
          <hr />
          <br />
          <div class="pro">
            <div class="row-pro">
              <div class="img2">
                <img src="@/assets/sc-1.jpg" class="img" />
              </div>
              <div class="img3">
                <img src="@/assets/sc-3.jpg" class="img" alt="foto 2" />
              </div>
            </div>
            <br />
            <div class="row">
              <div v-for="(aboutsatu, index) in aboutsatu" :key="index" class="col-sm">
                <h3 class="text-center">{{ aboutsatu.kategori }}</h3>
                <span style="color: cadetblue; font-size: 2rem">
                  <center>~~~~</center>
                </span>
                <p>
                  {{ aboutsatu.deskripsi }}
                </p>
              </div>
            </div>
          </div>
          <br />
          <hr />
          <br />
          <br />
          <div class="container-fluid pt-5">
            <h2><center>Our Team</center></h2>
            <span style="color: cadetblue; font-size: 2rem">
              <center>~~~~</center>
            </span>
            <!-- our team -->
            <div class="team">
              <div class="row px-xl-5">
                <div
                  v-for="(aboutdua, index) in aboutdua"
                  :key="index"
                  class="col-lg-4 text-center col-md-6 pb-1"
                >
                  <div class="cat-item d-flex flex-column border-0 mb-4">
                    <div class="img4">
                      <img
                        :src="aboutdua.image"
                        style="border-radius: 200px"
                        class="card-img-top w-75 h-75"
                        alt="foto 3"
                      />
                    </div>
                    <h5>{{ aboutdua.namaOrang }}</h5>
                    <p>{{ aboutdua.namaTeam }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end our team -->
          </div>
          <hr />
          <br />
          <br />
          <br />
          <h2>
            <center>The best team available</center>
          </h2>
          <span style="color: cadetblue; font-size: 2rem">
            <center>~~~~</center>
          </span>
          <!-- the best ream -->
          <div class="the">
            <div class="row">
              <div v-for="(abouttiga, index) in abouttiga" :key="index" class="col-sm">
                <div class="cat-item d-flex flex-column border-0 mb-4">
                  <img :src="abouttiga.image" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ abouttiga.namaOrang }}</h5>
                    <p class="card-text text-center">{{ abouttiga.namaTeam }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end the best team -->
          <div class="row">
            <hr />
            <br />
            <br />
            <br />
            <div class="container-fluid pt-5">
              <h3><center>Philosophy</center></h3>
              <span style="color: cadetblue; font-size: 2rem">
                <center>~~~~</center>
              </span>
              <!-- philosophy -->
              <div class="flo">
                <div class="row box">
                  <div
                    v-for="(aboutempat, index) in aboutempat"
                    :key="index"
                    class="card"
                    style="width: 18rem; border: hidden"
                  >
                    <div class="img12">
                      <img
                        :src="aboutempat.image"
                        style="border-radius: 200px; width: 150px; margin-left: 60px"
                        class="card-img-top"
                      />
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ aboutempat.tema }}</h5>
                      <p class="card-text">
                        {{ aboutempat.deskripsi }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- philosophy end -->
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header/Header.vue";
import Footer from "@/components/Footer/Footer.vue";
import AboutSatuDataService from "../../services/AboutSatuDataService";
import AboutDuaDataService from "../../services/AboutDuaDataService";
import AboutTigaDataService from "../../services/AboutTigaDataService";
import AboutEmpatDataService from "../../services/AboutEmpatDataService";

export default {
  name: "AboutUs",
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      aboutsatu: [],
      aboutdua: [],
      abouttiga: [],
      aboutempat: [],
    };
  },
  methods: {
    retrieveAboutSatu() {
      AboutSatuDataService.getAll()
        .then((response) => {
          this.aboutsatu = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutDua() {
      AboutDuaDataService.getAll()
        .then((response) => {
          this.aboutdua = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutTiga() {
      AboutTigaDataService.getAll()
        .then((response) => {
          this.abouttiga = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutEmpat() {
      AboutEmpatDataService.getAll()
        .then((response) => {
          this.aboutempat = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveAboutSatu();
    this.retrieveAboutDua();
    this.retrieveAboutTiga();
    this.retrieveAboutEmpat();
  },
};
</script>
<style scoped>
.about {
  background-image: url("../../assets/sc-2.jpg");
  background-size: cover;
  max-width: 1440px;
  height: 300px;
  padding-top: 50px;
  padding-left: 100px;
}
.img2 img {
  width: 800px;
  height: 320px;
}
.img3 img {
  width: 303px;
  height: 320px;
}
.flo .box {
  display: flex;
  flex-wrap: wrap;
  /* gap: 5px; */
  justify-content: space-between;
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-body .card-title,
.card-text {
  text-align: justify;
}
.pro .row-pro {
  display: flex;
  gap: 10px;
}

/* * {
  margin: 0;
  padding: 0;
} */
/* .us {
  margin-bottom: -555px;
}
.about {
  background-image: url("../../assets/sc-2.jpg");
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  padding-left: 100px;
}
.team {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 70px;
}
.the {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 70px;
}
.pro {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.flo {
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: center;
  padding-left: 70px;
}
.app {
  margin-top: 3rem;
} */

/* responsive */
@media screen and (max-width: 768px) {
  .flo .box {
    justify-content: space-around;
  }
  .img2 img {
    width: 500px;
    height: 300px;
  }
  .img3 img {
    width: 200px;
    height: 300px;
  }
}
</style>
