<template>
  <div class="all-user-page">
    <Header />
    <div class="all">
      <div class="row">
        <div class="sidebar col-lg-3">
          <h6>Filter By Categories</h6>
          <hr />
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1"> Pria </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1"> Wanita </label>
            <hr />
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1"> In Stock </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1"> Out Stock </label>
            <hr />
          </div>
          <h5>Price</h5>
          <hr />
          <div id="app">
            <input
              type="range"
              min="0"
              max="500000"
              step="1"
              v-model="value"
              @input="updateSlider"
              :style="{ backgroundSize: backgroundSize }"
            />
            <div class="data">Range harga: Rp {{ value }} - Rp 500000</div>
          </div>
          <br />
          <button type="button" class="btn btn-success">Filter</button>
          <hr />
          <h5>Size</h5>
          <hr />
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1"> M </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1"> L </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1"> XL </label>
          </div>
        </div>

        <div class="content-1 col-lg-9">
          <span class="navbar-text">Showing 1-12 of 32 results</span>

          <div v-for="(product, index) in products" :key="index" class="card-content">
            <div class="img">
              <img :src="product.image" class="img" />
            </div>

            <div class="card-body">
              <h5 class="card-title">{{ product.namaProduct }}</h5>
              <h5 class="card-title" style="color: green">Rp. {{ product.price }}</h5>
              <p class="card-text">
                {{ product.deskripsi }}<br /><strong>-Typography Progamming-</strong>
              </p>
              <div class="d-flex gap-3 btn">
                <button type="button" class="btn btn-success">Add to cart</button>
                <p><i class="fa fa-heart">Add to wishlist</i></p>
                <p>
                  <i class="fa fa-heart">Add to compare</i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header/Header.vue";
import Footer from "@/components/Footer/Footer.vue";
import ProductDataService from "../../services/ProductDataService";

export default {
  name: "ProductDisplay",
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      products: [],
      value: 20,
      backgroundSize: "20% 100%",
    };
  },
  methods: {
    updateSlider(e) {
      let clickedElement = e.target,
        min = clickedElement.min,
        max = clickedElement.max,
        val = clickedElement.value;

      this.backgroundSize = ((val - min) * 100) / (max - min) + "% 100%";
    },

    retrieveProducts() {
      ProductDataService.getAll()
        .then((response) => {
          this.products = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveProducts();
      this.currentProduct = null;
      this.currentIndex = -1;
    },
    setActiveProduct(product, index) {
      this.currentProduct = product;
      this.currentIndex = product ? index : -1;
    },
  },
  mounted() {
    this.retrieveProducts();
  },
};
</script>

<style>
.all {
  max-width: 1440px;
  width: 1250px;
  margin: auto;
  padding: 10px 15px;
}

@media screen and (max-width: 768px) {
  .row .sidebar {
    display: none;
  }
  .content-1 .navbar {
    border: 1px solid red;
    width: 500px;
  }
}

.card-content {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding: 3px;
}
.card-content .img {
  /* border: 1px solid red; */
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .card-content {
    max-width: 500px;
    margin-left: 120px;
  }
  .card-content {
    display: flex;
    align-items: center;
  }
  .card-content .box-content .img {
    width: 300px;
    height: 450px;
  }
  .btn {
    align-items: center;
  }
  .btn button,
  p {
    font-size: 10px;
  }
}
</style>
