<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-pen-to-square"></i>About</h2>
            <button
              type="button"
              class="btn btn-outline-light"
              data-bs-toggle="modal"
              data-bs-target="#modalTambahTable"
            >
              <i class="fa fa-plus"></i>
              Tambah Table
            </button>
          </div>
          <div class="card-body">
            <!-- <div class="row px-xl-5">
              <div class="col-lg-12 table-responsive mb-5"> -->
            <!-- TABLE ABOUT SATU -->
            <h3 class="text-center">Table About Satu</h3>
            <table class="table table-striped">
              <thead>
                <tr class="thead-dark">
                  <th scope="col">No</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(aboutsatu, index) in aboutsatu" :key="index">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ aboutsatu.kategori }}</td>
                  <td>{{ aboutsatu.deskripsi }}</td>
                  <td>
                    <button
                      @click="setActiveAboutSatu(aboutsatu, index)"
                      class="btn btn-sm btn-warning mb-3"
                      data-bs-toggle="modal"
                      data-bs-target="#modalDetailAboutSatu"
                    >
                      <span><b>Detail</b></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <br />
            <!-- TABLE TIM KITA -->
            <h3 class="text-center">Table Tim Kita</h3>
            <table class="table table-striped">
              <thead>
                <tr class="thead-dark">
                  <th scope="col">No</th>
                  <th scope="col">Avatar</th>
                  <th scope="col">Team</th>
                  <th scope="col">Nama</th>
                  <th scope="col">aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(aboutdua, index) in aboutdua" :key="index">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>
                    <img :src="aboutdua.image" alt="" style="width: 50px" />
                  </td>
                  <td>
                    {{ aboutdua.namaTeam }}
                  </td>
                  <td>
                    {{ aboutdua.namaOrang }}
                  </td>
                  <td>
                    <button
                      @click="setActiveAboutDua(aboutdua, index)"
                      class="btn btn-sm btn-warning mb-3"
                      data-bs-toggle="modal"
                      data-bs-target="#modalDetailAboutDua"
                    >
                      <span><b>Detail</b></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />

            <!-- TABLE TIM TERBAIK -->
            <h3 class="text-center">Table Tim Terbaik</h3>
            <table class="table table-striped">
              <thead>
                <tr class="thead-dark">
                  <th scope="col">No</th>
                  <th scope="col">Avatar</th>
                  <th scope="col">Team</th>
                  <th scope="col">Nama</th>
                  <th scope="col">aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(abouttiga, index) in abouttiga" :key="index">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>
                    <img :src="abouttiga.image" alt="" style="width: 50px" />
                  </td>
                  <td>{{ abouttiga.namaTeam }}</td>
                  <td>{{ abouttiga.namaOrang }}</td>
                  <td>
                    <button
                      @click="setActiveAboutTiga(abouttiga, index)"
                      class="btn btn-sm btn-warning mb-3"
                      data-bs-toggle="modal"
                      data-bs-target="#modalDetailAboutTiga"
                    >
                      <span><b>Detail</b></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />

            <!-- TABLE PHILOSOPHY -->
            <h3 class="text-center">Table Philosophy</h3>
            <table class="table table-striped">
              <thead>
                <tr class="thead-dark">
                  <th scope="col">No</th>
                  <th scope="col">Philosophy</th>
                  <th scope="col">Tema</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(aboutempat, index) in aboutempat" :key="index">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>
                    <img :src="aboutempat.image" alt="" style="width: 50px" />
                  </td>
                  <td>{{ aboutempat.tema }}</td>
                  <td>{{ aboutempat.deskripsi }}</td>
                  <td>
                    <button
                      @click="setActiveAboutEmpat(aboutempat, index)"
                      class="btn btn-sm btn-warning mb-3"
                      data-bs-toggle="modal"
                      data-bs-target="#modalDetailAboutEmpat"
                    >
                      <span><b>Detail</b></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
            <!-- </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- TAMBAH TABLE -->
      <div
        v-if="!submitted"
        class="modal fade"
        id="modalTambahTable"
        tabindex="-1"
        aria-labelledby="modalTambahTableLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTambahTableLabel">
                Tambah Table
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <!-- TAMBAH TABLE ABOUT SATU -->
                <div class="mb-3">
                  <button
                    type="button"
                    class="btn tambahtable"
                    data-bs-toggle="modal"
                    data-bs-target="#modalTambahAboutSatu"
                  >
                    Tambah Table About Satu
                  </button>
                </div>

                <!-- TAMBAH TABLE TIM KITA-->
                <div class="mb-3">
                  <button
                    type="button"
                    class="btn tambahtable"
                    data-bs-toggle="modal"
                    data-bs-target="#modalTambahTimKita"
                  >
                    Tambah Table Tim Kita
                  </button>
                </div>

                <!-- TAMBAH TABLE TIM TERBAIK -->
                <div class="mb-3">
                  <button
                    type="button"
                    class="btn tambahtable"
                    data-bs-toggle="modal"
                    data-bs-target="#modalTambahTimTerbaik"
                  >
                    Tambah Table Tim Terbaik
                  </button>
                </div>

                <!-- TAMBAH TABLE PHILOSOPHY -->
                <div class="mb-3">
                  <button
                    type="button"
                    class="btn tambahtable"
                    data-bs-toggle="modal"
                    data-bs-target="#modalTambahPhilosophy"
                  >
                    Tambah Table Philosophy
                  </button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Batal
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- TAMBAH TABLE ABOUT SATU -->
      <div
        v-if="!submitted"
        class="modal fade"
        id="modalTambahAboutSatu"
        tabindex="-1"
        aria-labelledby="modalTambahAboutSatuLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTambahAboutSatuLabel">
                Tambah Table About Satu
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="blog-url" class="col-form-label"
                    >Kategori :</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="kategori"
                    id="kategori"
                    v-model="aSatu.kategori"
                  />
                </div>
                <div class="mb-3">
                  <label for="deskripsi-blog" class="col-form-label"
                    >Deskripsi :</label
                  >
                  <textarea
                    class="form-control"
                    name="deskripsi"
                    id="deskripsi"
                    v-model="aSatu.deskripsi"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-target="#modalTambahTable"
                data-bs-toggle="modal"
                data-bs-dismiss="modal"
              >
                Kembali
              </button>
              <button
                type="button"
                @click="addAboutSatu"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                Tambah Blog
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- TAMBAH TABLE TIM KITA -->
      <div
        v-if="!submitted"
        class="modal fade"
        id="modalTambahTimKita"
        tabindex="-1"
        aria-labelledby="modalTambahTimKitaLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTambahTimKitaLabel">
                Tambah Table Tim Kita
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="blog-url" class="col-form-label"
                    >Url Thumbnail:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="image"
                    id="image"
                    v-model="aDua.image"
                  />
                </div>
                <div class="mb-3">
                  <label for="nama-blog" class="col-form-label"
                    >nama Team:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="namaTeam"
                    id="namaTeam"
                    v-model="aDua.namaTeam"
                  />
                </div>
                <div class="mb-3">
                  <label for="nama-blog" class="col-form-label"
                    >nama Orang:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="namaOrang"
                    id="namaOrang"
                    v-model="aDua.namaOrang"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-target="#modalTambahTable"
                data-bs-toggle="modal"
                data-bs-dismiss="modal"
              >
                Kembali
              </button>
              <button
                type="button"
                @click="addAboutDua"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                Tambah Blog
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- TAMBAH TABLE TIM TERBAIK -->
      <div
        v-if="!submitted"
        class="modal fade"
        id="modalTambahTimTerbaik"
        tabindex="-1"
        aria-labelledby="modalTambahTimTerbaik"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTambahTimTerbaik">
                Tambah Table Tim Terbaik
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="blog-url" class="col-form-label"
                    >Url Thumbnail:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="image"
                    id="image"
                    v-model="aTiga.image"
                  />
                </div>
                <div class="mb-3">
                  <label for="nama-blog" class="col-form-label"
                    >nama Team:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="namaTeam"
                    id="namaTeam"
                    v-model="aTiga.namaTeam"
                  />
                </div>
                <div class="mb-3">
                  <label for="nama-blog" class="col-form-label"
                    >nama Orang:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="namaOrang"
                    id="namaOrang"
                    v-model="aTiga.namaOrang"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-target="#modalTambahTable"
                data-bs-toggle="modal"
                data-bs-dismiss="modal"
              >
                Kembali
              </button>
              <button
                type="button"
                class="btn btn-success"
                @click="addAboutTiga"
                data-bs-dismiss="modal"
              >
                Tambah Blog
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- TAMBAH TABLE PHILOSOPHY -->
      <div
        v-if="!submitted"
        class="modal fade"
        id="modalTambahPhilosophy"
        tabindex="-1"
        aria-labelledby="modalTambahPhilosophy"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTambahPhilosophy">
                Tambah Table Philosophy
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="blog-url" class="col-form-label"
                    >Url Thumbnail:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="image"
                    id="image"
                    v-model="aEmpat.image"
                  />
                </div>
                <div class="mb-3">
                  <label for="nama-blog" class="col-form-label"
                    >nama Tema:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="namaTeam"
                    id="namaTeam"
                    v-model="aEmpat.tema"
                  />
                </div>
                <div class="mb-3">
                  <label for="deskripsi-blog" class="col-form-label"
                    >Deskripsi :</label
                  >
                  <textarea
                    class="form-control"
                    name="deskripsi"
                    id="deskripsi"
                    v-model="aEmpat.deskripsi"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-target="#modalTambahTable"
                data-bs-toggle="modal"
                data-bs-dismiss="modal"
              >
                Kembali
              </button>
              <button
                type="button"
                class="btn btn-success"
                @click="addAboutEmpat"
                data-bs-dismiss="modal"
              >
                Tambah Blog
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- DETAIL TABLE ABOUT SATU-->
      <div
        v-if="currentAboutSatu"
        class="modal fade"
        id="modalDetailAboutSatu"
        tabindex="-1"
        aria-labelledby="modalDetailAboutSatuLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div v-if="currentAboutSatu" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDetailAboutSatuLabel">
                Detail About Satu
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <table class="table border-none">
                <tbody>
                  <tr>
                    <td class="fw-bold">Kategory</td>
                    <td>:</td>
                    <td>{{ currentAboutSatu.kategori }}</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Deskripsi</td>
                    <td>:</td>
                    <td>{{ currentAboutSatu.deskripsi }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Batal
              </button>
              <a
                type="button"
                :href="'/aboutAdmin/aboutsatu=' + currentAboutSatu.id"
                class="btn btn-success"
              >
                Ubah
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- DETAIL TABLE TIM KITA -->
      <div
        v-if="currentAboutDua"
        class="modal fade"
        id="modalDetailAboutDua"
        tabindex="-1"
        aria-labelledby="modalDetailAboutDuaLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div v-if="currentAboutDua" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDetailAboutDuaLabel">
                Detail Tim Kita
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <img
                    class="modal-gambar-product"
                    :src="currentAboutDua.image"
                    alt="gambar product"
                  />
                </div>
                <div class="col-md-8">
                  <div class="nama-product mb-3">
                    <span class="fw-bold">Nama:</span>
                    {{ currentAboutDua.namaOrang }}
                  </div>
                  <div class="nama-product mb-3">
                    <span class="fw-bold">Nama Tim:</span>
                    {{ currentAboutDua.namaTeam }}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Batal
              </button>
              <a
                type="button"
                :href="'/aboutAdmin/aboutdua=' + currentAboutDua.id"
                class="btn btn-success"
              >
                Ubah
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- DETAIL TABLE TIM TERBAIK -->
      <div
        v-if="currentAboutTiga"
        class="modal fade"
        id="modalDetailAboutTiga"
        tabindex="-1"
        aria-labelledby="modalDetailAboutTigaLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div v-if="currentAboutTiga" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDetailAboutTigaLabel">
                Detail Tim Terbaik
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <img
                    class="modal-gambar-product"
                    :src="currentAboutTiga.image"
                    alt="gambar product"
                  />
                </div>
                <div class="col-md-8">
                  <div class="nama-product mb-3">
                    <span class="fw-bold">Nama:</span>
                    {{ currentAboutTiga.namaOrang }}
                  </div>
                  <div class="nama-product mb-3">
                    <span class="fw-bold">Nama Tim:</span>
                    {{ currentAboutTiga.namaTeam }}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Batal
              </button>
              <a
                type="button"
                :href="'/aboutAdmin/abouttiga=' + currentAboutTiga.id"
                class="btn btn-success"
              >
                Ubah
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- DETAIL TABLE PHILOSOPHY -->
      <div
        v-if="currentAboutEmpat"
        class="modal fade"
        id="modalDetailAboutEmpat"
        tabindex="-1"
        aria-labelledby="modalDetailAboutEmpatLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div v-if="currentAboutEmpat" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDetailAboutEmpatLabel">
                Detail Philosophy
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <img
                    class="modal-gambar-product"
                    :src="currentAboutEmpat.image"
                    alt="gambar product"
                  />
                </div>
                <div class="col-md-8">
                  <div class="nama-product mb-3">
                    <span class="fw-bold">Tema:</span>
                    {{ currentAboutEmpat.tema }}
                  </div>
                  <div class="nama-product mb-3">
                    <span class="fw-bold">Deskripsi:</span>
                    {{ currentAboutEmpat.deskripsi }}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Batal
              </button>
              <a
                type="button"
                :href="'/aboutAdmin/aboutempat=' + currentAboutEmpat.id"
                class="btn btn-success"
              >
                Ubah
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import AboutSatuDataService from "../../services/AboutSatuDataService";
import AboutDuaDataService from "../../services/AboutDuaDataService";
import AboutTigaDataService from "../../services/AboutTigaDataService";
import AboutEmpatDataService from "../../services/AboutEmpatDataService";

export default {
  name: "AboutAdmin",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      aSatu: {
        id: null,
        kategori: "",
        deskripsi: "",
      },
      aDua: {
        id: null,
        image: "",
        namaOrang: "",
        namaTeam: "",
      },
      aTiga: {
        id: null,
        image: "",
        namaOrang: "",
        namaTeam: "",
      },
      aEmpat: {
        id: null,
        image: "",
        tema: "",
        deskripsi: "",
      },
      currentAboutSatu: null,
      currentAboutDua: null,
      currentAboutTiga: null,
      currentAboutEmpat: null,
      currentIndex: -1,
      submitted: false,
      aboutsatu: [],
      aboutdua: [],
      abouttiga: [],
      aboutempat: [],
    };
  },
  methods: {
    refreshList() {
      this.retrieveAboutSatu();
      this.retrieveAboutDua();
      this.retrieveAboutTiga();
      this.retrieveAboutEmpat();
      this.currentAboutSatu = null;
      this.currentAboutDua = null;
      this.currentAboutTiga = null;
      this.currentAboutEmpat = null;
      this.currentIndex = -1;
    },
    setActiveAboutSatu(aboutsatu, index) {
      this.currentAboutSatu = aboutsatu;
      this.currentIndex = index;
    },
    setActiveAboutDua(aboutdua, index) {
      this.currentAboutDua = aboutdua;
      this.currentIndex = index;
    },
    setActiveAboutTiga(abouttiga, index) {
      this.currentAboutTiga = abouttiga;
      this.currentIndex = index;
    },
    setActiveAboutEmpat(aboutempat, index) {
      this.currentAboutEmpat = aboutempat;
      this.currentIndex = index;
    },
    retrieveAboutSatu() {
      AboutSatuDataService.getAll()
        .then((response) => {
          this.aboutsatu = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutDua() {
      AboutDuaDataService.getAll()
        .then((response) => {
          this.aboutdua = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutTiga() {
      AboutTigaDataService.getAll()
        .then((response) => {
          this.abouttiga = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutEmpat() {
      AboutEmpatDataService.getAll()
        .then((response) => {
          this.aboutempat = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    addAboutSatu() {
      var data = {
        kategori: this.aSatu.kategori,
        deskripsi: this.aSatu.deskripsi,
      };
      AboutSatuDataService.create(data)
        .then((response) => {
          this.aSatu.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    addAboutDua() {
      var data = {
        image: this.aDua.image,
        namaOrang: this.aDua.namaOrang,
        namaTeam: this.aDua.namaTeam,
      };
      AboutDuaDataService.create(data)
        .then((response) => {
          this.aDua.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    addAboutTiga() {
      var data = {
        image: this.aTiga.image,
        namaOrang: this.aTiga.namaOrang,
        namaTeam: this.aTiga.namaTeam,
      };
      AboutTigaDataService.create(data)
        .then((response) => {
          this.aTiga.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    addAboutEmpat() {
      var data = {
        image: this.aEmpat.image,
        tema: this.aEmpat.tema,
        deskripsi: this.aEmpat.deskripsi,
      };
      AboutEmpatDataService.create(data)
        .then((response) => {
          this.aEmpat.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveAboutSatu();
    this.retrieveAboutDua();
    this.retrieveAboutTiga();
    this.retrieveAboutEmpat();
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
.card-header {
  background-color: rgb(39, 92, 94);
  display: flex;
}
.card-header h2 {
  color: white;
}
.card-header button {
  width: auto;
  height: 35px;
  /* margin-top: 13px; */
  margin-left: auto;
  color: rgb(185, 185, 185);
}
.box table {
  margin-top: 25px;
}
.card {
  margin-top: 50px;
  border: hidden;
}
.card-body {
  /* border: 1px solid black; */
  height: 435px;
  overflow: scroll;
}
.modal-content {
  border-radius: 15px;
  padding: 15px;
}
.modal-title {
  font-size: 21px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
input,
textarea {
  border-radius: 10px;
}
.modal-gambar-blog {
  width: 100%;
}
.card-body::-webkit-scrollbar {
  display: none;
}

.deskripsi-blog::-webkit-scrollbar {
  display: none;
}

.tambahtable {
  width: 100%;
  background-color: rgb(39, 92, 94);
  color: white;
}
.modal-gambar-product {
  width: 100%;
}
</style>
