<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-brands fa-blogger-b"></i>Blog</h2>
            <button
              type="button"
              class="btn btn-outline-light"
              data-bs-toggle="modal"
              data-bs-target="#modalTambahBlog"
            >
              <i class="fa fa-plus"></i>
              Tambah Blog
            </button>
          </div>
          <div class="card-body">
            <div class="row px-xl-5">
              <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                  <thead class="bg-secondary text-dark">
                    <tr>
                      <th>No</th>
                      <th>Thumbnail</th>
                      <th>Judul</th>
                      <th>Tanggal</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody class="align-middle">
                    <tr v-for="(blog, index) in blog" :key="index">
                      <td>{{ index + 1 }}</td>
                      <td class="align-middle">
                        <img :src="blog.image" alt="" style="width: 50px" />
                      </td>
                      <td class="align-middle">{{ blog.judul }}</td>
                      <td class="align-middle">{{ blog.tanggal }}</td>
                      <!-- <td class="align-middle">
                        {{ blog.deskripsi }}
                      </td> -->
                      <td class="align-middle">
                        <button
                          :class="{ active: index == currentIndex }"
                          @click="setActiveBlog(blog, index)"
                          class="btn btn-sm btn-warning mb-3"
                          data-bs-toggle="modal"
                          data-bs-target="#modalUbahBlog"
                        >
                          <span><b>Detail</b></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAMBAH BLOG MODAL -->
      <div
        v-if="!submitted"
        class="modal fade"
        id="modalTambahBlog"
        tabindex="-1"
        aria-labelledby="modalTambahBlogLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTambahBlogLabel">Tambah Blog</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="blog-url" class="col-form-label">Url Thumbnail:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="image"
                    id="image"
                    v-model="blogs.image"
                  />
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <label for="nama-blog" class="col-form-label">Judul:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="namaBlog"
                        id="namaBlog"
                        v-model="blogs.judul"
                      />
                    </div>
                  </div>
                </div>
                <!-- <div class="mb-3">
                  <label for="deskripsi-blog" class="col-form-label"
                    >Deskripsi blog:</label
                  >
                  <textarea
                    class="form-control"
                    name="deskripsi"
                    id="deskripsi"
                    v-model="blog.deskripsi"
                  ></textarea>
                </div> -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <button
                type="button"
                @click="addBlogs"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                Tambah Blog
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- DETAIL BLOG -->
      <div
        v-if="currentBlog"
        class="modal fade"
        id="modalUbahBlog"
        tabindex="-1"
        aria-labelledby="modalUbahBlogLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div v-if="currentBlog" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalUbahBlogLabel">Detail Blog</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <img
                    class="modal-gambar-blog"
                    :src="currentBlog.image"
                    alt="gambar Blog"
                  />
                </div>
                <div class="col-md-8">
                  <div class="judul-blog mb-3">
                    <span class="fw-bold">Judul Blog:</span>
                    {{ currentBlog.judul }}
                  </div>
                  <div class="tanggal-blog mb-3">
                    <span class="fw-bold">Tanggal Blog:</span> {{ currentBlog.tanggal }}
                  </div>
                  <!-- <div class="deskripsi-Blog">
                    <span class="fw-bold">Deskripsi Blog:</span>
                    {{ currentBlog.deskripsi }}
                  </div> -->
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#modalHapusBlog"
              >
                Hapus Blog
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <a
                type="button"
                :href="'/blogAdmin/' + currentBlog.id"
                class="btn btn-success"
              >
                Ubah Blog
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- HAPUS BLOG -->
      <div
        class="modal fade"
        id="modalHapusBlog"
        tabindex="-1"
        aria-labelledby="modalHapusBlogLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalHapusBlogLabel">Hapus Blog</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <b>Yakin mau hapus blog ini?</b>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <button type="button" @click="deleteBlog" class="btn btn-danger">
                Hapus Blog
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import BlogDataService from "../../services/BlogDataService";

const Month = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const D = new Date();

export default {
  name: "BlogAdmin",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      id: "",
      currentBlog: null,
      currentIndex: -1,
      blogs: {
        id: null,
        judul: "",
        image: "",
        deskripsi: "",
        tanggal: `${Month[D.getMonth()]} ${D.getDate()}, ${D.getFullYear()}`,
      },
      blog: [],
      submitted: false,
    };
  },
  methods: {
    retrieveBlog() {
      BlogDataService.getAll()
        .then((response) => {
          this.blog = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveBlog();
      this.currentBlog = null;
      this.currentIndex = -1;
    },
    setActiveBlog(blog, index) {
      this.currentBlog = blog;
      this.currentIndex = index;
    },
    deleteBlog() {
      BlogDataService.delete(this.currentBlog.id)
        .then(() => {
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    addBlogs() {
      var data = {
        image: this.blogs.image,
        judul: this.blogs.judul,
        deskripsi: this.blogs.deskripsi,
        tanggal: this.blogs.tanggal,
      };
      BlogDataService.create(data)
        .then((response) => {
          this.blogs.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveBlog();
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
.card-header {
  background-color: rgb(39, 92, 94);
  display: flex;
}
.card-header h2 {
  color: white;
}
.card-header button {
  width: auto;
  height: 35px;
  /* margin-top: 13px; */
  margin-left: auto;
  color: rgb(185, 185, 185);
}
.box table {
  margin-top: 25px;
}
.card {
  margin-top: 50px;
  border: hidden;
}
.card-body {
  /* border: 1px solid black; */
  height: 435px;
  overflow: scroll;
}
.modal-content {
  border-radius: 15px;
  padding: 15px;
}
.modal-title {
  font-size: 21px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
input,
textarea {
  border-radius: 10px;
}
.modal-gambar-blog {
  width: 100%;
}
.card-body::-webkit-scrollbar {
  display: none;
}

.deskripsi-blog::-webkit-scrollbar {
  display: none;
}
</style>
