<template>
  <div class="box">
    <Sidebar />
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-file-signature"></i>Contact</h2>
          </div>
          <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th>Lokasi Toko</th>
                  <th>No.telp</th>
                  <th>E-mail</th>
                  <th>Open Hours</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(contact, index) in contact" :key="index">
                  <th>{{ index + 1 }}</th>
                  <td>{{ contact.lokasi }}</td>
                  <td>{{ contact.noTelp }}</td>
                  <td>{{ contact.email }}</td>
                  <td>Monday-Saturday: {{ contact.openHours }}</td>
                  <td>
                    <button
                      :class="{ active: index == currentIndex }"
                      @click="setActiveContact(contact, index)"
                      class="btn btn-sm btn-warning"
                      data-bs-toggle="modal"
                      data-bs-target="#modalUbahContact"
                    >
                      <span><b>detail</b></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
            <div class="container3">
              <div class="mapouter">
                <div
                  v-for="(contact, index) in contact"
                  :key="index"
                  class="map-responsive"
                >
                  <iframe
                    width="600"
                    height="450"
                    :src="contact.mapLokasi"
                    frameborder="0"
                    allowfullscreen
                  ></iframe
                  ><a
                    href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"
                  ></a
                  ><br />
                  <a href="https://www.embedgooglemap.net">how to add google map</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- DETAIL MODAL -->
      <div
        v-if="currentContact"
        class="modal fade"
        id="modalUbahContact"
        tabindex="-1"
        aria-labelledby="modalUbahContactLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div v-if="currentContact" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalUbahContactLabel">Detail Contact</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <iframe
                class="modal-map-contact"
                :src="currentContact.mapLokasi"
                frameborder="0"
                allowfullscreen
              ></iframe>
              <div class="lokasi-toko mt-3 mb-3">
                <span class="fw-bold">Lokasi Toko:</span> {{ currentContact.lokasi }}
              </div>
              <div class="no-telepon mb-3">
                <span class="fw-bold">No Telepon:</span> {{ currentContact.noTelp }}
              </div>
              <div class="email mb-3">
                <span class="fw-bold">Emai:</span> {{ currentContact.email }}
              </div>
              <div class="open-hours mb-3">
                <span class="fw-bold">Open Hours:</span> {{ currentContact.openHours }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <a
                type="button"
                :href="'/contactAdmin/' + currentContact.id"
                class="btn btn-success"
                >Ubah Contact</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="modalUbahMap"
        tabindex="-1"
        aria-labelledby="modalUbahMapLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalUbahMapLabel">Ubah Map</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="url-map" class="col-form-label">Url map:</label>
                  <input type="text" class="form-control" name="url-map" id="url-map" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <button type="button" class="btn btn-success">Ubah Map</button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import ContactDataService from "../../services/ContactDataService";

export default {
  name: "contactAdmin",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      id: "",
      currentContact: null,
      currentIndex: -1,
      contact: [],
    };
  },
  methods: {
    retrieveContact() {
      ContactDataService.getAll()
        .then((response) => {
          this.contact = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveContact();
      this.currentContact = null;
      this.currentIndex = -1;
    },
    setActiveContact(contact, index) {
      this.currentContact = contact;
      this.currentIndex = index;
    },
  },
  mounted() {
    this.retrieveContact();
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
.card-header {
  background-color: rgb(39, 92, 94);
  display: flex;
}
.card-header button {
  width: auto;
  height: 35px;
  margin-left: auto;
  color: rgb(185, 185, 185);
}
.card-header h2 {
  color: white;
}
.card {
  margin-top: 50px;
  border: hidden;
  /* height: 497px; */
}
.card-body {
  /* border: 1px solid black; */
  height: 435px;
  overflow: scroll;
}
.container3 {
  width: 70%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border: 3px relative;
}
.modal-content {
  border-radius: 15px;
  padding: 15px;
}
.modal-title {
  font-size: 21px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
input {
  border-radius: 10px;
}
.modal-map-contact {
  width: 100%;
}

.card-body::-webkit-scrollbar {
  display: none;
}

.deskripsi-product::-webkit-scrollbar {
  display: none;
}
</style>
