<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-pencil"></i> Edit Contact</h2>
          </div>
          <div class="card-body">
            <form v-if="currentContact">
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="lokasi-toko" class="col-form-label">Lokasi Toko:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="lokasi"
                      id="lokasi"
                      v-model="currentContact.lokasi"
                    />
                  </div>
                  <div class="col">
                    <label for="nomor-telepon" class="col-form-label">No Telepon:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="noTelp"
                      id="noTelp"
                      v-model="currentContact.noTelp"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="email" class="col-form-label">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      v-model="currentContact.email"
                    />
                  </div>
                  <div class="col">
                    <label for="open-hours" class="col-form-label">Open Hours:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="openHours"
                      id="openHours"
                      v-model="currentContact.openHours"
                    />
                  </div>
                </div>
                <label for="url-map" class="col-form-label">Url Map:</label>
                <input
                  type="text"
                  class="form-control"
                  name="mapLokasi"
                  id="mapLokasi"
                  v-model="currentContact.mapLokasi"
                />
              </div>
            </form>
            <div class="modal-footer">
              <!-- button edit -->
              <a href="/contactAdmin">
                <button
                  type="button"
                  style="color: white; border-radius: 10px"
                  class="btn btn-danger"
                >
                  Batal
                </button></a
              >
              <button
                type="submit"
                class="btn"
                @click="updateContact"
                style="background-color: #ffae00fd; color: white; border-radius: 10px"
              >
                <b>Simpan</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import ContactDataService from "../../services/ContactDataService";

export default {
  name: "productAdmin",
  data() {
    return {
      contact: [],
      currentContact: null,
    };
  },
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  methods: {
    getContact(id) {
      ContactDataService.get(id)
        .then((response) => {
          this.currentContact = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveContact() {
      ContactDataService.getAll()
        .then((response) => {
          this.contact = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveContact();
      this.currentContact = null;
      this.currentIndex = -1;
    },
    setActiveContact(contact, index) {
      this.currentContact = contact;
      this.currentIndex = contact ? index : -1;
    },

    // UPDATE PRODUCT
    updateContact() {
      ContactDataService.update(this.currentContact.id, this.currentContact)
        .then(() => {
          this.$router.push("/contactAdmin");
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveContact();
    this.getContact(this.$route.params.id);
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
.card-header {
  background-color: rgb(39, 92, 94);
  display: flex;
}
.card-header h2 {
  color: white;
}
.card-header button {
  width: auto;
  height: 35px;
  margin-left: auto;
  color: rgb(185, 185, 185);
}
.box table {
  margin-top: 25px;
}
.card {
  margin-top: 50px;
  border: hidden;
}
.card-body {
  height: 435px;
  overflow: scroll;
}
.card-body::-webkit-scrollbar {
  display: none;
}
.modal-content {
  border-radius: 15px;
  padding: 15px;
}
.modal-title {
  font-size: 21px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
input,
textarea {
  border-radius: 10px;
}
</style>
