<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-pencil"></i> Edit Table Philosophy</h2>
          </div>
          <div class="card-body">
            <form v-if="currentAboutEmpat">
              <div class="mb-3">
                <label for="image-url" class="col-form-label">Url Image:</label>
                <input
                  type="text"
                  class="form-control"
                  name="image"
                  id="image"
                  v-model="currentAboutEmpat.image"
                />
              </div>
              <div class="mb-3">
                <label for="Tema" class="col-form-label"
                  >Tema:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="Tema"
                  id="Tema"
                  v-model="currentAboutEmpat.tema"
                />
              </div>
              <div class="mb-3">
                <label for="Tema" class="col-form-label"
                  >Deskripsi:</label
                >
                <textarea
                  class="form-control"
                  name="deskripsi"
                  id="deskripsi"
                  v-model="currentAboutEmpat.deskripsi"
                ></textarea>
              </div>
            </form>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                @click="backToAbout()"
                style="color: white; border-radius: 10px"
              >
                Batal
              </button>
              <button
                type="submit"
                class="btn"
                @click="updateAboutEmpat()"
                style="
                  background-color: #ffae00fd;
                  color: white;
                  border-radius: 10px;
                "
              >
                <b>Simpan</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import AboutEmpatDataService from "../../services/AboutEmpatDataService";

export default {
  name: "editAboutEmpat",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      currentAboutEmpat: null,
      aboutEmpat: [],
    };
  },
  methods: {
    getAboutEmpat(id) {
      AboutEmpatDataService.get(id)
        .then((response) => {
          this.currentAboutEmpat = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutEmpat() {
      AboutEmpatDataService.getAll()
        .then((response) => {
          this.aboutempat = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveAboutEmpat();
      this.currentAboutEmpat = null;
      this.currentIndex = -1;
    },
    setActiveAboutEmpat(aboutempat, index) {
      this.currentAboutEmpat = aboutempat;
      this.currentIndex = aboutempat ? index : -1;
    },

    // UPDATE OUR TEAM
    updateAboutEmpat() {
      AboutEmpatDataService.update(this.currentAboutEmpat.id, this.currentAboutEmpat)
        .then(() => {
          this.$router.push("/aboutAdmin");
        })
        .catch((e) => {
          console.log(e);
        });
    },
    backToAbout() {
      this.$router.push("/aboutAdmin");
    },
  },
  mounted() {
    this.retrieveAboutEmpat();
    this.getAboutEmpat(this.$route.params.id);
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script> 
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
h1 {
  text-align: center;
}
.card {
  margin-top: 50px;
}
.card-header {
  background-color: rgb(39, 92, 94);
  color: white;
}
.card .card-body img {
  width: 300px;
  border-radius: 50%;
  margin-left: 100px;
}
.card .card-body h3 {
  text-align: center;
}
.centered {
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
</style>