<template>
  <div class="box">
    <template>
      <div class="box">
        <Sidebar />
        <div class="content">
          <HeaderAdmin />
          <div class="container">
            <div class="card">
              <div class="card-header">
                <h1>
                <i class="fa-solid fa-pen-to-square"></i>
                Edit Best Team Avaible
                </h1>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="@/assets/pp-4.jpg" />
                    <h3>Ubah Foto Profil Team</h3>
                    <center>
                    <input type="text">
                    </center>
                  </div>
                  <div class="col">
                    <form>
                      <div class="right">
                        <div class="mb-3">
                          <div class="form-group mt-3">
                            <label for="exampleInputEmail1">Nama Team</label>
                            <input
                              type="text"
                              id="cname"
                              name="cardname"
                              class="form-control"
                              aria-describedby="emailHelp"
                            />
                          </div>
                          <div class="form-group mt-3">
                            <label for="exampleInputEmail1">Nama Anggota</label>
                            <input
                              type="text"
                              class="form-control"
                              id="cname"
                              aria-describedby="emailHelp"
                            />
                          </div>
                          <button type="submit" class="btn btn-success mt-4">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Simpan Profil
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <FooterAdmin />
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";

export default {
  name: "editBestTeam",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  mounted() {
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script> 
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
h1 {
  text-align: center;
}
.card {
  margin-top: 50px;
}
.card-header {
  background-color: rgb(39, 92, 94);
  color: white;
}
.card .card-body img {
  width: 300px;
  border-radius: 50%;
  margin-left: 100px;
}
.card .card-body h3 {
  text-align: center;
}
.centered {
    justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
</style>