<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-pencil"></i> Edit Table About Satu</h2>
          </div>
          <div class="card-body">
            <form v-if="currentAboutSatu">
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="Judul-blog" class="col-form-label"
                      >Kategori About Satu:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="kategori"
                      id="kategori"
                      v-model="currentAboutSatu.kategori"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="deskripsi-blog" class="col-form-label">Deskripsi Blog:</label>
                <textarea
                  class="form-control"
                  name="deskripsi"
                  id="deskripsi"
                  v-model="currentAboutSatu.deskripsi"
                ></textarea>
              </div>
            </form>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                @click="backToAbout()"
                style="color: white; border-radius: 10px"
              >
                Batal
              </button>
              <button
                type="submit"
                class="btn"
                @click="updateAboutSatu()"
                style="background-color: #ffae00fd; color: white; border-radius: 10px"
              >
                <b>Simpan</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import AboutSatuDataService from "../../services/AboutSatuDataService";

export default {
  name: "editAboutSatu",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      currentAboutSatu: null,
      aboutsatu: [],
    };
  },
  methods: {
    getAboutSatu(id) {
      AboutSatuDataService.get(id)
        .then((response) => {
          this.currentAboutSatu = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutSatu() {
      AboutSatuDataService.getAll()
        .then((response) => {
          this.aboutsatu = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveAboutSatu();
      this.currentAboutSatu = null;
      this.currentIndex = -1;
    },
    setActiveAboutSatu(aboutsatu, index) {
      this.currentAboutSatu = aboutsatu;
      this.currentIndex = aboutsatu ? index : -1;
    },

    // UPDATE ABOUT SATU
    updateAboutSatu() {
      AboutSatuDataService.update(this.currentAboutSatu.id, this.currentAboutSatu)
        .then(() => {
          this.$router.push("/aboutAdmin");
        })
        .catch((e) => {
          console.log(e);
        });
    },
    backToAbout() {
      this.$router.push("/aboutAdmin");
    },
  },
  mounted() {
    this.retrieveAboutSatu();
    this.getAboutSatu(this.$route.params.id);
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
h1 {
  text-align: center;
}
.card {
  margin-top: 50px;
}
.card-header {
  background-color: rgb(39, 92, 94);
  color: white;
}
.card .card-body img {
  width: 300px;
  border-radius: 50%;
  margin-left: 100px;
}
.card .card-body h3 {
  text-align: center;
}
.centered {
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
</style>
