<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <div class="tangs">
              {{ dnow }}
            </div>
            <h2><i class="fa-solid fa-pencil"></i> Edit Blog</h2>
          </div>
          <div class="card-body">
            <form v-if="currentBlog">
              <div class="mb-3">
                <label for="blog-url" class="col-form-label">Url Image Blog:</label>
                <input
                  type="text"
                  class="form-control"
                  name="image"
                  id="image"
                  v-model="currentBlog.image"
                />
              </div>
              <div class="mb-3">
                <label for="Judul-blog" class="col-form-label">Judul Blog:</label>
                <input
                  type="text"
                  class="form-control"
                  name="judul"
                  id="judul"
                  v-model="currentBlog.judul"
                />
              </div>
              <div class="mb-3">
                <label for="Judul-blog" class="col-form-label">Tanggal Blog:</label>
                <!-- <input type="date" class="form-control" id="date" name="date" /> -->
                <!-- <span id="tanggal"></span> -->
              </div>
              <input
                type="text"
                class="form-control"
                name="tanggal"
                id="tanggal"
                v-model="currentBlog.tanggal"
              />
              <!-- <div class="col">
                    <label for="harga-blog" class="col-form-label">Tanggal Upload:</label>
                    <input
                      type="date"
                      class="form-control"
                      name="tanggal"
                      id="tanggal"
                      v-model="currentBlog.tanggal"
                    />
                  </div> -->
              <!-- <div class="mb-3">
                <label for="deskripsi-blog" class="col-form-label">Deskripsi Blog:</label>
                <textarea
                  class="form-control"
                  name="deskripsi"
                  id="deskripsi"
                  v-model="currentBlog.deskripsi"
                ></textarea>
              </div> -->
            </form>
            <div class="modal-footer">
              <!-- button edit -->
              <a href="/blogAdmin">
                <button
                  type="button"
                  style="color: white; border-radius: 10px"
                  class="btn btn-danger"
                >
                  Batal
                </button></a
              >
              <button
                type="submit"
                class="btn"
                @click="updateBlog()"
                style="background-color: #ffae00fd; color: white; border-radius: 10px"
              >
                <b>Simpan</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import BlogDataService from "../../services/BlogDataService";

const Month = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const D = new Date();

export default {
  name: "editBlog",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      dnow: `${D.getDate()} ${Month[D.getMonth()]}, ${D.getFullYear()}`,
      blogs: [],
      blog: {
        tanggal: `${D.getDate()} ${Month[D.getMonth()]}, ${D.getFullYear()}`,
      },
      currentBlog: null,
    };
  },
  methods: {
    getBlog(id) {
      BlogDataService.get(id)
        .then((response) => {
          this.currentBlog = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveBlogs() {
      BlogDataService.getAll()
        .then((response) => {
          this.blogs = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveBlogs();
      this.currentBlog = null;
      this.currentIndex = -1;
    },
    setActiveBlog(blog, index) {
      this.currentBlog = blog;
      this.currentIndex = blog ? index : -1;
    },

    // UPDATE BLOG
    updateBlog() {
      BlogDataService.update(this.currentBlog.id, this.currentBlog)
        //  tanggal= `${Month[D.getMonth()+1]} ${D.getDate()}, ${D.getFullYear()}`
        .then(() => {
          this.$router.push("/blogAdmin");
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    // function getDate() {
    //   var today = new Date();
    //   var dd = today.getDate();
    //   var mm = today.getMonth() + 1; //January is 0!
    //   var yyyy = today.getFullYear();

    //   if (dd < 10) {
    //     dd = "0" + dd;
    //   }

    //   if (mm < 10) {
    //     mm = "0" + mm;
    //   }

    //   today = yyyy + "/" + mm + "/" + dd;
    //   console.log(today);
    //   document.getElementById("date").value = today;
    // }

    // window.onload = function () {
    //   getDate();
    // };
    this.retrieveBlogs();
    this.getBlog(this.$route.params.id);
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
h1 {
  text-align: center;
}
.card {
  margin-top: 50px;
}
.card-header {
  background-color: rgb(39, 92, 94);
  color: white;
}
.card .card-body img {
  width: 300px;
  border-radius: 50%;
  margin-left: 100px;
}
.card .card-body h3 {
  text-align: center;
}
.centered {
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
.tangs {
  padding: 5px 25px 5px 25px;
  /* border: 1.5px solid black; */
  /* float: right; */
  border-radius: 5px;
  background-color: white;
  color: rgb(39, 92, 94);
}
.tangs:hover {
  padding: 5px 25px 5px 25px;
  background-color: rgb(39, 92, 94);
  color: white;
  transition: 0.5s;
  cursor: default;
  /* float: right; */
}
</style>
