<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-pencil"></i> Edit Product</h2>
          </div>
          <div class="card-body">
            <form v-if="currentProduct">
              <div class="mb-3">
                <label for="product-url" class="col-form-label">Url Product:</label>
                <input
                  type="text"
                  class="form-control"
                  name="image"
                  id="image"
                  v-model="currentProduct.image"
                />
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="nama-product" class="col-form-label">Nama Product:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="namaProduct"
                      id="namaProduct"
                      v-model="currentProduct.namaProduct"
                    />
                  </div>
                  <div class="col">
                    <label for="harga-product" class="col-form-label"
                      >Harga Product:</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="price"
                      id="price"
                      v-model="currentProduct.price"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="deskripsi-product" class="col-form-label"
                  >Deskripsi Product:</label
                >
                <textarea
                  class="form-control"
                  name="deskripsi"
                  id="deskripsi"
                  v-model="currentProduct.deskripsi"
                ></textarea>
              </div>
            </form>
            <div class="modal-footer">
              <!-- button edit -->
              <a href="/productAdmin">
                <button
                  type="button"
                  style="color: white; border-radius: 10px"
                  class="btn btn-danger"
                >
                  Batal
                </button></a
              >
              <button
                type="submit"
                class="btn"
                @click="updateProduct"
                style="background-color: #ffae00fd; color: white; border-radius: 10px"
              >
                <b>Simpan</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import ProductDataService from "../../services/ProductDataService";

export default {
  name: "productAdmin",
  data() {
    return {
      products: [],
      currentProduct: null,
    };
  },
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  methods: {
    getProduct(id) {
      ProductDataService.get(id)
        .then((response) => {
          this.currentProduct = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveProducts() {
      ProductDataService.getAll()
        .then((response) => {
          this.products = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveProducts();
      this.currentProduct = null;
      this.currentIndex = -1;
    },
    setActiveProduct(product, index) {
      this.currentProduct = product;
      this.currentIndex = product ? index : -1;
    },

    // UPDATE PRODUCT
    updateProduct() {
      ProductDataService.update(this.currentProduct.id, this.currentProduct)
        .then(() => {
          this.$router.push("/productAdmin");
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveProducts();
    this.getProduct(this.$route.params.id);
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
.card-header {
  background-color: rgb(39, 92, 94);
  display: flex;
}
.card-header h2 {
  color: white;
}
.card-header button {
  width: auto;
  height: 35px;
  margin-left: auto;
  color: rgb(185, 185, 185);
}
.box table {
  margin-top: 25px;
}
.card {
  margin-top: 50px;
  border: hidden;
}
.card-body {
  height: 435px;
  overflow: scroll;
}
.card-body::-webkit-scrollbar {
  display: none;
}
.modal-content {
  border-radius: 15px;
  padding: 15px;
}
.modal-title {
  font-size: 21px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
input,
textarea {
  border-radius: 10px;
}
</style>
