<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-pencil"></i> Edit Table Our Team</h2>
          </div>
          <div class="card-body">
            <form v-if="currentAboutDua">
              <div class="mb-3">
                <label for="blog-url" class="col-form-label">Url Image:</label>
                <input
                  type="text"
                  class="form-control"
                  name="image"
                  id="image"
                  v-model="currentAboutDua.image"
                />
              </div>
              <div class="mb-3">
                <label for="Judul-blog" class="col-form-label"
                  >Nama Team:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="namaTeam"
                  id="namaTeam"
                  v-model="currentAboutDua.namaTeam"
                />
              </div>
              <div class="mb-3">
                <label for="namaTeam-blog" class="col-form-label"
                  >Nama Orang:</label
                >
                <textarea
                  class="form-control"
                  name="namaOrang"
                  id="namaOrang"
                  v-model="currentAboutDua.namaOrang"
                ></textarea>
              </div>
            </form>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                @click="backToAbout()"
                style="color: white; border-radius: 10px"
              >
                Batal
              </button>
              <button
                type="submit"
                class="btn"
                @click="updateAboutDua()"
                style="
                  background-color: #ffae00fd;
                  color: white;
                  border-radius: 10px;
                "
              >
                <b>Simpan</b>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import AboutDuaDataService from "../../services/AboutDuaDataService";

export default {
  name: "editAboutDua",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      currentAboutDua: null,
      aboutdua: [],
    };
  },
  methods: {
    getAboutDua(id) {
      AboutDuaDataService.get(id)
        .then((response) => {
          this.currentAboutDua = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutDua() {
      AboutDuaDataService.getAll()
        .then((response) => {
          this.aboutdua = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveAboutDua();
      this.currentAboutDua = null;
      this.currentIndex = -1;
    },
    setActiveAboutDua(aboutdua, index) {
      this.currentAboutDua = aboutdua;
      this.currentIndex = aboutdua ? index : -1;
    },

    // UPDATE OUR TEAM
    updateAboutDua() {
      AboutDuaDataService.update(this.currentAboutDua.id, this.currentAboutDua)
        .then(() => {
          this.$router.push("/aboutAdmin");
        })
        .catch((e) => {
          console.log(e);
        });
    },
    backToAbout() {
      this.$router.push("/aboutAdmin");
    },
  },
  mounted() {
    this.retrieveAboutDua();
    this.getAboutDua(this.$route.params.id);
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script> 
<style scoped>
.content{
  width: 100%;
}
.box {
  display: flex;
}
h1 {
  text-align: center;
}
.card {
  margin-top: 50px;
}
.card-header {
  background-color: rgb(39, 92, 94);
  color: white;
}
.card .card-body img {
  width: 300px;
  border-radius: 50%;
  margin-left: 100px;
}
.card .card-body h3 {
  text-align: center;
}
.centered {
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
</style>