<template>
  <div class="box">
    <div class="sidebar">
      <Sidebar />
    </div>
    <div class="content">
      <HeaderAdmin />
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2><i class="fa-solid fa-file"></i>Mengelola Product</h2>
            <button
              type="button"
              class="btn btn-outline-light"
              data-bs-toggle="modal"
              data-bs-target="#modalTambahProduct"
            >
              <i class="fa fa-plus"></i>
              tambah product
            </button>
          </div>
          <div class="card-body">
            <div class="row px-xl-5">
              <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                  <thead class="bg-secondary text-dark">
                    <tr>
                      <th>No</th>
                      <th>Products</th>
                      <th>Name</th>
                      <th>Harga</th>
                      <th>Deskripsi</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody class="align-middle">
                    <tr v-for="(product, index) in products" :key="index">
                      <td>{{ index + 1 }}</td>
                      <td class="align-middle">
                        <img :src="product.image" alt="" style="width: 50px" />
                      </td>
                      <td class="align-middle">{{ product.namaProduct }}</td>
                      <td class="align-middle">{{ product.price }}</td>
                      <td class="align-middle">
                        {{ product.deskripsi }}
                      </td>
                      <td class="align-middle">
                        <button
                          :class="{ active: index == currentIndex }"
                          @click="setActiveProduct(product, index)"
                          class="btn btn-sm btn-warning mb-3"
                          data-bs-toggle="modal"
                          data-bs-target="#modalUbahProduct"
                        >
                          <span><b>detail</b></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAMBAH PRODUCT MODAL -->
      <div
        v-if="!submitted"
        class="modal fade"
        id="modalTambahProduct"
        tabindex="-1"
        aria-labelledby="modalTambahProductLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTambahProductLabel">Tambah Product</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="product-url" class="col-form-label">Url Product:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="image"
                    id="image"
                    v-model="product.image"
                  />
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <label for="nama-product" class="col-form-label"
                        >Nama Product:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="namaProduct"
                        id="namaProduct"
                        v-model="product.namaProduct"
                      />
                    </div>
                    <div class="col">
                      <label for="harga-product" class="col-form-label"
                        >Harga Product:</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="price"
                        id="price"
                        v-model="product.price"
                      />
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="deskripsi-product" class="col-form-label"
                    >Deskripsi Product:</label
                  >
                  <textarea
                    class="form-control"
                    name="deskripsi"
                    id="deskripsi"
                    v-model="product.deskripsi"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <button
                type="button"
                @click="saveProduct"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                Tambah Product
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- DETAIL PRODUCT -->
      <div
        v-if="currentProduct"
        class="modal fade"
        id="modalUbahProduct"
        tabindex="-1"
        aria-labelledby="modalUbahProductLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div v-if="currentProduct" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalUbahProductLabel">Detail Product</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <img
                    class="modal-gambar-product"
                    :src="currentProduct.image"
                    alt="gambar product"
                  />
                </div>
                <div class="col-md-8">
                  <div class="nama-product mb-3">
                    <span class="fw-bold">Nama Product:</span>
                    {{ currentProduct.namaProduct }}
                  </div>
                  <div class="harga-product mb-3">
                    <span class="fw-bold">Harga Product:</span> {{ currentProduct.price }}
                  </div>
                  <div class="deskripsi-product">
                    <span class="fw-bold">Deskripsi Product:</span>
                    {{ currentProduct.deskripsi }}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#modalHapusProduct"
              >
                Hapus Product
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <a
                type="button"
                :href="'/productAdmin/' + currentProduct.id"
                class="btn btn-success"
              >
                Ubah Product
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- HAPUS PRODUCT -->
      <div
        class="modal fade"
        id="modalHapusProduct"
        tabindex="-1"
        aria-labelledby="modalHapusProductLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalHapusProductLabel">Hapus Product</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <b>Yakin mau hapus product ini?</b>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Batal
              </button>
              <button type="button" @click="deleteProduct" class="btn btn-danger">
                Hapus Product
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import ProductDataService from "../../services/ProductDataService";

export default {
  name: "productAdmin",
  data() {
    return {
      id: "",
      currentProduct: null,
      currentIndex: -1,
      product: {
        id: null,
        image: "",
        namaProduct: "",
        price: "",
        deskripsi: "",
      },
      submitted: false,
      products: [],
    };
  },
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  methods: {
    retrieveProducts() {
      ProductDataService.getAll()
        .then((response) => {
          this.products = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveProducts();
      this.currentProduct = null;
      this.currentIndex = -1;
    },
    setActiveProduct(product, index) {
      this.currentProduct = product;
      this.currentIndex = index;
    },
    deleteProduct() {
      ProductDataService.delete(this.currentProduct.id)
        .then(() => {
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    saveProduct() {
      var data = {
        image: this.product.image,
        namaProduct: this.product.namaProduct,
        price: this.product.price,
        deskripsi: this.product.deskripsi,
      };
      ProductDataService.create(data)
        .then((response) => {
          this.product.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveProducts();
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style scoped>
.box {
  display: flex;
}
.content{
  width: 100%;
}
.card-header {
  background-color: rgb(39, 92, 94);
  display: flex;
}
.card-header h2 {
  color: white;
}
.card-header button {
  width: auto;
  height: 35px;
  /* margin-top: 13px; */
  margin-left: auto;
  color: rgb(185, 185, 185);
}
.box table {
  margin-top: 25px;
}
.card {
  margin-top: 50px;
  border: hidden;
}
.card-body {
  /* border: 1px solid black; */
  height: 435px;
  overflow: scroll;
}
.modal-content {
  border-radius: 15px;
  padding: 15px;
}
.modal-title {
  font-size: 21px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
input,
textarea {
  border-radius: 10px;
}
.modal-gambar-product {
  width: 100%;
}
.card-body::-webkit-scrollbar {
  display: none;
}
.deskripsi-product{
  max-height: 100px;
  overflow: scroll;
}
.deskripsi-product::-webkit-scrollbar {
  display: none;
}
</style>
