<template>
  <div class="all-user-page">
    <Header />
    <div class="all">
      <div class="bag-2">
        <div class="title">
          <h1>Gift set</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="kanan">
                <div class="row gap-3 d-flex justify-content-center">
                  <div v-for="(blog, index) in blog" :key="index" class="col-md-5 border">
                    <div class="position-absolute mt-4 pl-2 p-1 bg-light">
                      {{ blog.tanggal }}
                    </div>
                    <img class="w-100 mt-3" :src="blog.image" alt="gambar" />
                    <div class="card-body">
                      <p class="card-title">
                        <i class="fa fa-bookmark"></i> Cream Blush, Gifts set
                      </p>
                      <h5 class="card-text">
                        {{ blog.judul }}
                      </h5>
                      <br />
                      <div class="cmd">
                        <p><i class="fa fa-circle-user"></i>&nbsp;admin</p>
                        &nbsp;&nbsp;&nbsp;
                        <p><i class="fa fa-comments-o"></i>&nbsp;1 comment</p>
                      </div>
                      <hr />
                      <a href="#"
                        ><button class="bg-black p-1 flex rounded" style="color: white">
                          Read more &nbsp;&nbsp;&nbsp;
                          <img
                            src="https://e7.pngegg.com/pngimages/750/155/png-clipart-circle-swipe-computer-mouse-technology-logo-computer-mouse-television-angle-thumbnail.png"
                            class="rounded-circle"
                            width="20px"
                            height="20px"
                          /></button
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="kiri">
                <div class="card" style="width: 20rem">
                  <div class="card-body">
                    <h5><b>Search</b></h5>
                    <hr />
                    <input class="form-control" type="text" placeholder="search...." />
                    <br />
                  </div>
                </div>
                <br />
                <div class="card" style="width: 20rem">
                  <div class="card-body">
                    <h5><b>Categories</b></h5>
                    <hr />
                    <ul class="hov">
                      <li v-for="(category, index) in category" :key="index">
                        <a href="#" class="cursor-pointer">{{ category.name }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <br />
                <div class="card" style="width: 20rem">
                  <div class="card-body">
                    <h5><b>Recent Post</b></h5>
                    <hr />
                    <div
                      v-for="(recent, index) in recent"
                      :key="index"
                      class="d-flex"
                      style="cursor: pointer"
                    >
                      <div>
                        <img :src="recent.image" style="width: 100px; height: 100px" />
                      </div>
                      <div class="ml-3">
                        <p style="font-size: 12px">{{ recent.tanggal }}</p>
                        <p class="mt-2">{{ recent.judul }}</p>
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
                <br />

                <div class="card empat" style="width: 20rem">
                  <div class="card-body">
                    <h5><b>Tags</b></h5>
                    <hr />
                    <a href="#" class="badge p-2 m-1 badge-secondary">Secondary</a>
                    <a href="#" class="badge p-2 m-1 badge-secondary">Rizqi</a>
                    <a href="#" class="badge p-2 m-1 badge-secondary">Ilham</a>
                    <a href="#" class="badge p-2 m-1 badge-secondary">Orlynz</a>
                    <a href="#" class="badge p-2 m-1 badge-secondary">Rafi</a>
                    <a href="#" class="badge p-2 m-1 badge-secondary">Arya</a>
                    <a href="#" class="badge p-2 m-1 badge-secondary">Irvanda</a>
                    <a href="#" class="badge p-2 m-1 badge-secondary">Azizi</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header/Header.vue";
import Footer from "@/components/Footer/Footer.vue";
import BlogDataService from "../../services/BlogDataService";
import RecentPostDataService from "../../services/RecentPostDataService";
import CategoryDataService from "../../services/CategoryDataService";

export default {
  name: "Blogs",
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      blog: [],
      recent: [],
      category: [],
    };
  },
  methods: {
    retrieveBlog() {
      BlogDataService.getAll()
        .then((response) => {
          this.blog = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveBlog();
      this.currentBlog = null;
      this.currentIndex = -1;
    },
    setActiveBlog(blog, index) {
      this.currentBlog = blog;
      this.currentIndex = blog ? index : -1;
    },
    retrieveRecent() {
      RecentPostDataService.getAll()
        .then((response) => {
          this.recent = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveCategory() {
      CategoryDataService.getAll()
        .then((response) => {
          this.category = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveBlog();
    this.retrieveRecent();
    this.retrieveCategory();
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
.all-user-page{
  margin: auto;
  max-width: 1440px;
}
.all{
  max-width: 1440px;
}
/* Bag 2 */
.bag-2 {
  padding: 10px 70px;
}
.title h1 {
  font-weight: bold;
}
.cmd {
  display: flex;
}
.hov a:hover {
  color: #004338;
  font-weight: bold;
}
@media (max-width: 768px) {
  .kiri {
    display: none;
  }
}
</style>
