<template>
  <div class="box">
    <Sidebar />
    <div class="content">
      <HeaderAdmin />
      <div class="admin">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4>Welcome To Dashboard!</h4>
            </div>
            <div class="col">
              <div class="tangskong">
                <i class="fa-solid fa-calendar-days kong"></i>
              </div>
              <div class="tangs">
                {{ dnow }}
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-md-4">
            <div class="d-flex justify-content-between">
              <a href="/blogAdmin">
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h6 class="card-title kongb">Blog</h6>
                    <h3 class="card-text">
                      <span id="blog">&ensp;</span>
                      <i class="fas fa-users kongcard"></i>
                    </h3>
                    <div class="d-flex cg">
                      <i style="padding-top: 2px" class="fas fa-arrow-up"></i>
                      <p>+30 since last month</p>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-md-4">
            <div class="d-flex justify-content-between">
              <a href="/productAdmin">
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h6 class="card-title cg">Product</h6>
                    <h3 class="card-text">
                      <span id="professionak"></span>
                      <i class="fas fa-hand-holding-usd kongcard2"></i>
                    </h3>
                    <div class="d-flex cr">
                      <i style="padding-top: 2px" class="fas fa-arrow-down"></i>
                      <p>+30 since last month</p>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>

          <div class="col-md-4">
            <div class="d-flex justify-content-between">
              <a href="/aboutAdmin">
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h6 class="card-title cg">About Satu</h6>
                    <h3 class="card-text">
                      <span id="about"></span>
                      <i class="fas fa-clipboard-list kongcard3"></i>
                    </h3>
                    <div class="d-flex cg">
                      <i style="padding-top: 2px" class="fas fa-arrow-up"></i>
                      <p>+30 since last month</p>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <FooterAdmin />
      </div>
    </div>
  </div>
</template>
<script>
import $ from "jquery";
import HeaderAdmin from "@/components/Header/HeaderAdmin.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import FooterAdmin from "@/components/Footer/FooterAdmin.vue";
import BlogDataService from "../../services/BlogDataService";
import ProductDataService from "../../services/ProductDataService";
import AboutSatuDataService from "../../services/AboutSatuDataService";

const Month = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const D = new Date();

export default {
  name: "Admin",
  components: {
    HeaderAdmin,
    Sidebar,
    FooterAdmin,
  },
  data() {
    return {
      dnow: `${D.getDate()} ${Month[D.getMonth()]}, ${D.getFullYear()}`,
      blog: [],
      products: [],
      aboutsatu: [],
    };
  },
  methods: {
    retrieveBlog() {
      BlogDataService.getAll()
        .then((response) => {
          this.blog = response.data;
          let blok = this.blog.length;
          document.getElementById("blog").innerHTML = blok;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveProducts() {
      ProductDataService.getAll()
        .then((response) => {
          this.products = response.data;
          let produk = this.blog.length;
          document.getElementById("professionak").innerHTML = produk;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveAboutSatu() {
      AboutSatuDataService.getAll()
        .then((response) => {
          this.aboutsatu = response.data;
          let boute = this.blog.length;
          document.getElementById("about").innerHTML = boute;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  // setInterval(this.retrieveBlog());
  mounted() {
    this.retrieveBlog();
    this.retrieveProducts();
    this.retrieveAboutSatu();
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>
<style>
.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box {
  display: flex;
}
.content {
  width: 100%;
}
.admin {
  padding: 20px;
  max-height: 604px;
  overflow: scroll;
}
.admin::-webkit-scrollbar{
  overflow: hidden;
}
.admin img {
  width: 490px;
}
.tangs {
  padding: 5px 25px 5px 25px;
  border: 1.5px solid rgb(39, 92, 94);
  float: right;
  border-radius: 5px;
}
.tangs:hover {
  padding: 5px 25px 5px 25px;
  background-color: rgb(39, 92, 94);
  color: white;
  transition: 0.5s;
  cursor: default;
  /* float: right; */
}
.tangskong {
  padding: 5px 12px 5px 12px;
  background-color: rgb(39, 92, 94);
  float: right;
  margin: 2px 0 0 10px;
  border-radius: 5px;
}
.kong {
  color: white;
  font-size: 16px;
}
.kongb {
  color: blue;
}
.cg {
  color: rgb(26, 226, 26);
}
.cr {
  color: red;
}
.co {
  color: orange;
}
.boxa {
  font-size: 16px;
}
.kongcard {
  color: blue;
  float: right;
  padding-right: 10%;
  /* background-color: gray;
  border-radius: 50%;
  padding: 10px; */
  /* width: 20px; */
}
.kongcard2 {
  color: rgb(49, 209, 49);
  float: right;
  padding-right: 10%;
}
.kongcard3 {
  color: orange;
  float: right;
  padding-right: 10%;
}
</style>
