@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.bc {
  border: none;
  padding: 6px;
  color: white;
  border-radius: 5px;
  background-color: rgb(39, 92, 94);
  width: 50px;
}

.p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background-color: #e0e0e0;
  border: none;
  /* border-radius: 0; */
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* SIDEBAR STYLE */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: rgb(39, 92, 94);
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 10px;
  background: #363636;
  color: #ece9e9;
}
#sidebar .sidebar-header:hover {
  padding: 10px;
  background: #363636;
  color: rgb(39, 92, 94);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid rgb(39, 92, 94);
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: rgb(39, 92, 94);
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="false"] {
  color: #fff;
  background: black;
}

a[data-toggle="collapse"] {
  position: relative;
} 

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: rgb(39, 92, 94);
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* log out */

#sidebar li .out {
  position: absolute;
  bottom: 0;
  width: 250px;
}

/*CONTENT STYLE */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* MEDIAQUERIES */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  /* color: black; */
  color: rgb(39, 92, 94);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(39, 92, 94);
  color: #f9f9f9;
}
.dropdown:hover .dropdown-content {
  display: block;
}
