<template>
  <nav id="sidebar">
    <div class="sidebar-header">
      <a href="/admin"><h3>User Management</h3></a>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="/admin"><i class="fa-solid fa-gauge-high"></i>&nbsp;&nbsp;Dasbor</a>
      </li>

      <li>
        <a href="/productAdmin"><i class="fa-solid fa-box"></i>&nbsp;&nbsp;Product</a>
      </li>
      <li>
        <a href="/profileAdmin"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Profil</a>
      </li>

      <li>
        <a href="/aboutAdmin"
          ><i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;About Us</a
        >
      </li>

      <li>
        <a href="/contactAdmin"
          ><i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;Contact Us
        </a>
      </li>
      <li>
        <a href="/blogAdmin"><i class="fa-brands fa-blogger"></i>&nbsp;&nbsp;Blogs </a>
      </li>

      <li>
        <a href="/login" class="out"
          ><i class="fa-solid fa-arrow-right"></i>&nbsp;Keluar</a
        >
      </li>
    </ul>
  </nav>
</template>
<script>
import $ from "jquery";
export default {
  name: "Sidebar",
  mounted() {
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>

<style>
@import "./css-sidebar.css";
</style>
