<template>
  <div class="footer py-3">
    <p>Binus E-Commerce © Copy Right</p>
  </div>
</template>
<style scoped>
.footer {
  height: 50px;
  text-align: center;
  background-color: rgb(201, 201, 201);
  /* margin-top: 249px; */
}
</style>