<template>
  <div id="page-container">
    <div id="content-wrap"></div>
    <footer id="footer">
      <footer
        class="text-center text-lg-start text-white"
        style="background-color: rgb(5, 104, 107)"
      >
        <div class="container p-4 pb-0">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
              <p>
                Here you can use rows and columns to organize your footer
                content.
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a class="text-white">MDWordPress</a>
              </p>
              <p>
                <a class="text-white">BrandFlow</a>
              </p>
              <p>
                <a class="text-white">Bootstrap Angular</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <p>
                <a class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
          </div>
        </div>

        <div class="p-3 pt-0" style="background-color: rgb(5, 138, 143)">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <div class="p-3">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/"
                  >MDBootstrap.com</a
                >
              </div>
            </div>

            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <a
                class="btn btn-outline-light btn-floating m-1"
                role="button"
                href="https://www.facebook.com/smkbinusasmg"
                target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>

              <a
                class="btn btn-outline-light btn-floating m-1"
                role="button"
                href="https://twitter.com/smkbinusasmg"
                target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>

              <a
                class="btn btn-outline-light btn-floating m-1"
                role="button"
                href="https://binusasmg.sch.id/"
                target="_blank"
                ><i class="fab fa-google"></i
              ></a>

              <a
                class="btn btn-outline-light btn-floating m-1"
                role="button"
                href="https://www.instagram.com/smkbinanusantara_smg/"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </footer>
    </footer>
  </div>
</template>
<script>
export default {
  name: "Footer",
};
</script>
<style scoped>
#footer-3 {
  bottom: 0;
  width: 100%;
  height: auto; /* Footer height */
}
#footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
.row {
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .row {
    text-align: justify;
  }
}
</style>