<template>
  <div id="App">
    <router-view></router-view>
  </div>
</template> 
 
<script>
export default {
  name: "App",
};
</script> 
 
<style>
#App {
  font-family: "Poppins", sans-serif;
}
</style>